{% extends "base.html" %}
{% block content %}
<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<style>
    body {
        font-family: "Arial", sans-serif;
    }
    
    .bar {
        fill: #5f89ad;
    }
    
    .axis {
        font-size: 13px;
    }
    
    .axis path,
    .axis line {
        fill: none;
        display: none;
    }
    
    .label {
        font-size: 13px;
    }
    .label2 {
        font-size: 10px;
    }
</style>

<body>
  <svg width="960" height="500"></svg>
  <script src='../js/barchart.js'></script>
  <script>
    //------------------------SVG PREPARATION------------------------//
    //set up svg using margin conventions - we'll need plenty of room on the left for labels
    var margin = {
        top: 20,
        right: 20,
        bottom: 20,
        left: 100
    };

    var adj = 20;

    var svg = d3.select('svg');

    var width = +svg.attr('width');
    var height = +svg.attr('height');
    const iw = width - margin.left - margin.right;
    const ih = height - margin.top - margin.bottom;

    //-----------------------DATA PREPARATION------------------------//
    var dataset = data;
    //sort bars based on value
    var data = data.sort(function (a, b) {
        return d3.descending(a.value, b.value);
    })


    //---------------------------BAR CHART---------------------------//
    
    const xValue = d => d.value;
    const yValue = d => d.name;

    var xScale=d3.scaleLinear()
      .domain([0, d3.max(data, xValue)])
      .range([0,iw]);
    var yScale=d3.scaleBand()
      .domain(data.map(yValue))
      .range([30,ih])
      .padding(0.1);

    const xAxis = d3.axisBottom(xScale);
    const yAxis = d3.axisLeft(yScale).tickSize(0);

    //Shift y axis to the right
    const g = svg.append('g').attr('transform', `translate(${margin.left}, 0)`);

    // Decorate the y axis with values
    yAxis(g.append('g'));

    //Decorate the x axis with tick marks
    xAxis(g.append('g'))

    var bars = svg.selectAll("div")
      .data(data)
      .enter()
      .append("g")
 
    bars
      .append("text")
      .attr("class", "label2")
      .attr("y", function(d) {
        return yScale(d.name)+yScale.bandwidth()/2+4;
      })
      .attr("x", function (d) {
        return xScale(d.value)+160;
      })
      .text(function(d) {
        var f = d3.format(".2f");
        return f(d.value);
      });

    bars.append("rect")
      .attr("class", "bar")
      .attr("y", d => yScale(yValue(d)))
      .attr("x", 100)
      .attr("width", d => xScale(xValue(d)))
      .attr("height", yScale.bandwidth());

    </script>
    <h6>The chart shows COVID-19 fatalities in the past 30 days per 100,000 population. The results for the state of Illinois have been checked against the raw data source (Johns Hopkins University). To report issues, send email to <a href =mailto:anna@phoenix-computer.com>anna@phoenix-computer.com</a> </h6>
  </body>

{% endblock %}