{% extends "base.html" %}
{% block content %}

11/4/20
<br><br>
Also using the Associated Press and the New York Times, I simulated the Senate races 1000 times, assigning a probability of 75% for "leans toward Democrat", etc. I counted the two independents as aligning with the Democrats, which they do. For the others, the race outcome is figured as certain. Here are the results: in 230 runs, the Democrats control the Senate. In 393 runs, the Republican control the Senate and in 377 runs, the party of the President controls the Senate.

<br><br>
Because, the numbers are so close, the outcome of any one of the five remaining uncertain races will cause these results to shift radically toward one party or the other.
</body>
{% endblock %}