
{% extends "base.html" %}
{% block content %}
<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<style>
    body {
        font-family: "Arial", sans-serif;
    }
    
    .bar {
        fill: #5f89ad;
    }
    
    .axis {
        font-size: 13px;
    }
    
    .axis path,
    .axis line {
        fill: none;
        display: none;
    }
    
    .label {
        font-size: 13px;
    }
</style>

</head></head>

<body>
  <div id="container" class="svg-container"></div>
  <script src='../js/barchart.js'></script>
  <script>
    //------------------------SVG PREPARATION------------------------//
    //set up svg using margin conventions - we'll need plenty of room on the left for labels
    var margin = {
        top: 15,
        right: 25,
        bottom: 15,
        left: 120
    };

    var width = 960 - margin.left - margin.right,
        height = 600 - margin.top - margin.bottom;

    var adj = 20;

    // we are appending SVG first
    var svg = d3.select("div#container").append("svg")
    .attr("preserveAspectRatio", "xMinYMin meet")
    .attr("viewBox", "-" + adj + " -"+ adj + " " + (width + adj) + " " + (height + adj))
    .style("padding", 5)
    .style("margin", 5)
    .classed("svg-content", true);

    //-----------------------DATA PREPARATION------------------------//
    var dataset = data;
    //sort bars based on value
    data = data.sort(function (a, b) {
        return d3.descending(a.value, b.value);
    })


    //---------------------------BAR CHART---------------------------//
    
    var x=d3.scaleLinear([0,40],[0,960]);
    var domain = data.map(function(d) {
      return d.name
    });
    var range = [0,400];
    var y=d3.scaleBand().domain(domain).range([0,800]).paddingInner(1);
    console.log(y.step());

    const xAxis = d3.axisTop(x);
    const yAxis = d3.axisLeft(y);
    
    svg.selectAll("div")
    .data(data)
    .enter()
    .append("rect")
    .attr("class", "bar")
    .attr("y", function (d) {
      return y(d.name);
    })
    .attr("x", 0)
    .attr("width", function(d) {
      return x(d.value);
    })
    .attr("height", function (d) {
        return 10;
    });

    </script>
    <h6>The chart shows COVID-19 fatalities in the past 30 days per 100,000 population. The results for the state of Illinois have been checked against the Johns Hopkins University dataset. However, this website is still being tested. To report issues, send email to <a href =mailto:anna@phoenix-computer.com>anna@phoenix-computer.com</a> </h6>
  </body>

{% endblock %}