<!-- "Coronavirus statistics" "COVID-19 statistics" "COVID statistics" epidemiology nebulas -->
<!-- "Coronavirus epidemiology" "COVID-19 epidemiology" "COVID epidemiology" -->
<!-- "worldwide Coronavirus epidemiology" "worldwide COVID-19 epidemiology" "worldwide COVID epidemiology" -->
<!DOCTYPE html>
<style>
    /* set the CSS */
  
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 2px;
    }
  </style>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166186377-1">
  </script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-166186377-1');
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body id="body">
  <title>Worldwide COVID-19 Statistics</title>
  <div>
    <img class="logo" src="phoenix-logo.jpg">
  </div>
  Blogs: <a href="http://phoenix-technical-services.com">Current Events, </a><a href="http://physics.phoenix-technical-services.com">Physics, Science and Technology</a>
  <h4>Phoenix Technical Services: the state of the pandemic, data visualizations by Anna Naden</h4>
    {% block content %}
    {% endblock %}
    <!-- <form action="index.html">
      <br>
          <button type="submit">Home</button>
        </form>
    </form> -->
  </body>
