<!-- "Coronavirus statistics" "COVID-19 statistics" "COVID statistics" epidemiology nebulas -->
<!-- "Coronavirus epidemiology" "COVID-19 epidemiology" "COVID epidemiology" -->
<!-- "worldwide Coronavirus epidemiology" "worldwide COVID-19 epidemiology" "worldwide COVID epidemiology" -->
<!DOCTYPE html>
<style>
    /* set the CSS */
  
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 2px;
    }
  </style>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166186377-1">
  </script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-166186377-1');
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <title>Worldwide COVID-19 Statistics</title>
  <h2>Phoenix Technical Services: Anna Naden</h2>
  <div>
    <img class="logo" src="phoenix-logo.jpg">
  </div>
</head>
<body id="body">
    {% block content %}
    {% endblock %}
    <form action="index.html">
      <br>
          <button type="submit">Home</button>
        </form>
    </form>
    <form action="election.html">
      <br>
        <button type="submit">2020 US National Election Forecasts</button>
    </form>
    <form action="us-hot2.html">
      <br>
          <button type="submit">North America COVID-19 Maps</button>
        </form>
    </form>
    <form action="barchart.html">
      <br>
          <button type="submit">US COVID-19 Barchart</button>
        </form>
    </form>
    <form action="world-hot.html">
      <br>
          <button type="submit">World COVID-19 Map</button>
        </form>
    </form>
  </body>
