{% extends "base.html" %}
{% block content %}
<style>
    html, body {
        height: 100vh;
        height: 100vw;
    }
    #map {
        height: 40vh;
        height: 40vw;
    }
</style>
<div id="county-time-series"></div>
<h6>To report issues, send email to <a href =mailto:anna@phoenix-computer.com>anna@phoenix-computer.com</a> </h6>
<script>
    var fips = window.location.search.replace("?fips=", "")
    var ts =  document.getElementById('county-time-series');
    ts.innerHTML = "<img src=" + fips + ".jpg></img>"
</script>
{% endblock %}