{% extends "base.html" %}
{% block content %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
        <script src="https://d3js.org/d3.v6.js"></script>
        <script src="../js/make_world_map.js"></script>
        <script type="text/javascript">
          function get_world_features()
          {
            var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  var us_features =JSON.parse(this.responseText);
                  console.log(us_features.interval)
                  us_features = us_features['features']
                  make_world_map(us_features);
                }
              };
              xhttp.open("GET", "https://a3155m5nk4.execute-api.us-east-1.amazonaws.com/stage?iso-a3=all", true);
              xhttp.send();
          }
        </script>
        <style>
            html, body {
                height: 100vh;
                height: 100vw;
            }
            #map {
                height: 40vh;
                height: 40vw;
            }
        </style>
        <script>
          function refresh_map_div() {
              var mapElement = document.getElementById('map');
              mapElement.remove();
              var a = document.createElement('div');
              a.id="map";
              container = document.getElementById("state-map-container")
              container.appendChild(a);
              return;
          }
        </script>
        <div id="state-map-container"></div>
        <h6>Hover mouse over country of interest. Click USA to see individual states. The display for many regions has been validated against the raw data from thr source (Johns Hopkins University). To report issues, send email to <a href =mailto:anna@phoenix-computer.com>anna@phoenix-computer.com</a> </h6>
        <script>
            document.getElementById("body").onload = function() {get_world_features()};
        </script>
        <div id="map"></div>
        <div id="anna-svg" class="anna-svg"></div>
{% endblock %}