{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="https://d3js.org/d3.v6.js"></script>
<script src="../js/make_state_map.js"></script>
<style>
    html, body {
        height: 100vh;
        height: 100vw;
    }
    #map {
        height: 40vh;
        height: 40vw;
    }
</style>
<script>
    function refresh_map_div() {
        var mapElement = document.getElementById('map');
        mapElement.remove();
        var a = document.createElement('div');
        a.id="map";
        container = document.getElementById("state-map-container")
        container.appendChild(a);
        return;
    }
</script>
<script>
    function get_state_features(fips)
    {
    refresh_map_div();
    var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var state_features = JSON.parse(this.responseText);
            make_state_map(fips,state_features);
        };
        };
        // API gateway county-hot3. Lambda county_hot
        xhttp.open("GET", "https://qwwj8ox9l9.execute-api.us-east-1.amazonaws.com/stage/fips?fips="+fips, true);
        xhttp.send();
    }
</script>
<h6>Hover the mouse over a county to see graph. To report issues, send email to <a href =mailto:anna@phoenix-computer.com>anna@phoenix-computer.com</a> </h6>
<div id="state-map-container"></div>
<div id="label-container"></div>
<script>
    var fips = window.location.search.replace("?fips=", "")
    document.getElementById("body").onload = function() {get_state_features(fips)};
</script>
<div id="map"></div>
{% endblock %}