{% extends "base.html" %}
{% block content %}
<!-- Render map of US and Candada -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
        <script src="https://d3js.org/d3.v6.js"></script>
        <script src="../js/make_us_map.js"></script>
        <script src="../js/map_colors.js"></script>
        <script type="text/javascript">
          function get_us_features() {

            // API Gateway US-hot-API. Lambda us_hot
            url = "https://vpw7dxy2uf.execute-api.us-east-1.amazonaws.com/stage/us_hot";
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", url, true);
            xhttp.send();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  var us_features =JSON.parse(this.responseText);
                  us_features = us_features['features']

                  // API gateway county-hot3. Lambda county_hot
                  var xhttp = new XMLHttpRequest();
                  xhttp.open("GET", "https://qwwj8ox9l9.execute-api.us-east-1.amazonaws.com/stage/fips?markers=true", true);
                  xhttp.send();
                  xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                      var markers = JSON.parse(this.responseText);
                      make_us_map(us_features, markers)
                  }
                }
          };
        }
      }
        </script>
        <style>
            html, body {
                height: 100vh;
                height: 100vw;
            }
            #map {
                height: 40vh;
                height: 40vw;
            }
        </style>
<h6>Hover mouse over state of interest. Click the state to see individual counties. The display for many regions has been validated against the raw data from the source (Johns Hopkins University). To report issues, send email to <a href =mailto:anna@phoenix-computer.com>anna@phoenix-computer.com</a> </h6>
        <script>
            document.getElementById("body").onload = function() {get_us_features()};
        </script>
        <div id="map"></div>
{% endblock %}